extends ./layout.jade

block title
  title Home Page

block content
  .container.well(style='margin-top:50px')
    button.btn.btn-default
     a(href='/signUpPage') Sign Up 
     button.btn.btn-default
      a(href='/loginPage') Login
    button.btn.btn-default
     a(href='/passwordReset') Forgot Password
     button.btn.btn-default
      a(href='/passwordReset') Reset Password
